/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,
body {
    height: 100%;
}

body {
    background-color: #081928;
    font-family: Tahoma, Helvetica;
    font-size: 14px;
}

body > .b-layout {
    min-height: 100%;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.m-width {
    width: 740px;
    margin-left: auto;
    margin-right: auto;
}

.b-layout {

}

.b-layoutContainer {
    padding-bottom: 165px;
}

.clearfix {
    
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.b-layoutContainer__eBigTitle {
    padding: 80px 0 0 0;
    margin: 0;
    text-align: center;
    font-size: 28px;
    color: #fff;
}

.b-layoutContainer__eMainMenu {
    padding-top: 50px;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    text-transform: uppercase;
}

.b-layoutContainer__eMainMenu ul {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.b-layoutContainer__eMainMenu ul li {
    margin: 0 67px 0 0;
    padding: 0;
    float: left;
    list-style: none;
}

.b-layoutContainer__eMainMenu ul li:last-child {
    margin-right: 0;
}

.b-layoutContainer__eMainMenu ul li a {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    line-height: 16px;
}

.b-layoutContainer__eMainMenu ul li a:hover {
    text-decoration: none;
}

.b-layoutContainer__eMainMenu .icon {
    height: 18px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: top;
    background-image: url(../img/sprite.png);
}

.b-layoutContainer__eMainMenu .icon.icon-portfolio {
    width: 19px;
    background-position: 0 -65px;
}

.b-layoutContainer__eMainMenu .icon.icon-twitter {
    width: 20px;
    background-position: 0 0;
}

.b-layoutContainer__eMainMenu .icon.icon-fb {
    width: 10px;
    background-position: 0 -22px;
}

.b-layoutContainer__eMainMenu .icon.icon-vk {
    width: 12px;
    background-position: 0 -85px;
}

.b-layoutContainer__eMainMenu .icon.icon-google {
    width: 17px;
    background-position: 0 -44px;
}

.b-layoutContainer__eMainMenu .disabled .icon {
    opacity: .6;
}

.b-layoutContainer__eMainMenu .disabled .none {
    opacity: .6;
    text-decoration: none;
}

.b-layoutContainer__eInner {
    margin-top: 22px;
    padding: 45px 70px 40px 70px;
    background-color: #fff;
    color: #0e4d66;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

    .b-layoutContainer__eInner h1 {
        margin: 0;
        font-size: 24px;
    }

    .b-layoutContainer__eInner h2 {
        margin: 0;
        padding-bottom: 17px;
        font-size: 18px;
    }

    .b-layoutContainer__eInner h3 {
        margin: 0;
        padding-bottom: 12px;
        font-size: 14px;
    }

    .b-layoutContainer__eInner p {
        margin: 0;
        padding-bottom: 17px;
    }

.b-userInfo {
    margin-top: 25px;
    padding-bottom: 35px;
}

.b-userInfo__ePhoto {
    width: 170px;
    height: 180px;
    padding-top: 10px;
    float: left;
}

.b-userInfo__eFields {
    margin-left: 204px;
}

.b-fields {
    margin: 0;
    padding: 0 0 17px 0;
    overflow: hidden;
}

    .b-fields dt,
    .b-fields dd {
        margin: 0;
        padding: 0;
    }

    .b-fields dt {
        width: 195px;
        float: left;
        font-weight: bold;
    }

    .b-fields dd {
        margin-left: 195px;
    }

        .b-fields dd input {
            width: 80px;
            color: #0e4d66;
            border: 0;
            outline: none;
        }

        .b-fields dd a {
            color: #0e4d66;
            text-decoration: none;
        }

    .m-fieldsContacts dt {
        width: 80px;
    }

    .m-fieldsContacts dd {
        margin-left: 80px;
    }

.m-top15 {
    margin-top: 15px!important;
}

footer {
    height: 70px;
    padding-top: 40px;
    position: relative;
    margin-top: -110px;
    clear:both;
    font-size: 12px;
    color: #f1f1f1;
}

footer h2 {
    padding: 0;
    margin: 0 5px 0 0;
    display: inline-block;
    font-size: 24px;
    color: #f2b01c;
    font-weight: normal;
}

.overlay {
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
