/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body {
		font: 14px Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;;
}

.bWidget {
		margin: 20px;

		&:before {
				content: " ";
				display: table;
		}

		&:after {
				clear: both;
		}
}

.bWidget__eTabPanel {
		width: 454px;
		position: absolute;
		top: -49px;
		left: -1px;

		ul {
				&:before {
						content: "";
						display: table;
				}

				&:after {
						clear: both;
				}

				li {
						width: 45.8%;
						height: 48px;
						float: left;
						margin-right: 10px;
						position: relative;
						text-align: center;
						line-height: 48px;
						color: #6c6a6a;
						font-size: 16px;
						cursor: pointer;
				}

				.active {
						color: #000;
						text-shadow: 2px 2px 4px rgba(150, 150, 150, 1);
						border-left: 1px solid;
						border-top: 1px solid;
						border-color: #636363;
						cursor: default;
						background: #ececec;
						background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VjZWNlYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2UzZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2UzZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
						background: -moz-linear-gradient(top,  #ececec 0%, #e3e5e5 50%, #e3e5e5 51%, #dddddd 100%); /* FF3.6+ */
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(50%,#e3e5e5), color-stop(51%,#e3e5e5), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
						background: -webkit-linear-gradient(top,  #ececec 0%,#e3e5e5 50%,#e3e5e5 51%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
						background: -o-linear-gradient(top,  #ececec 0%,#e3e5e5 50%,#e3e5e5 51%,#dddddd 100%); /* Opera 11.10+ */
						background: -ms-linear-gradient(top,  #ececec 0%,#e3e5e5 50%,#e3e5e5 51%,#dddddd 100%); /* IE10+ */
						background: linear-gradient(to bottom,  #ececec 0%,#e3e5e5 50%,#e3e5e5 51%,#dddddd 100%); /* W3C */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#dddddd',GradientType=0 ); /* IE6-8 */
						-webkit-box-shadow: -3px -3px 3px 0px rgba(100, 100, 100, .1);
						-moz-box-shadow:    -3px -3px 3px 0px rgba(100, 100, 100, .1);
						box-shadow:         -3px -3px 3px 0px rgba(100, 100, 100, .1);

						&:after {
								content: "";
								position: absolute;
								top: -1px;
								right: -14px;
								height: 48px;
								width: 30px;
								background: #ececec;
								background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VjZWNlYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2UzZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2UzZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
								background: -moz-linear-gradient(top,  #ececec 0%, #e3e5e5 50%, #e3e5e5 51%, #dddddd 100%); /* FF3.6+ */
								background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(50%,#e3e5e5), color-stop(51%,#e3e5e5), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
								background: -webkit-linear-gradient(top,  #ececec 0%,#e3e5e5 50%,#e3e5e5 51%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
								background: -o-linear-gradient(top,  #ececec 0%,#e3e5e5 50%,#e3e5e5 51%,#dddddd 100%); /* Opera 11.10+ */
								background: -ms-linear-gradient(top,  #ececec 0%,#e3e5e5 50%,#e3e5e5 51%,#dddddd 100%); /* IE10+ */
								background: linear-gradient(to bottom,  #ececec 0%,#e3e5e5 50%,#e3e5e5 51%,#dddddd 100%); /* W3C */
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#dddddd',GradientType=0 ); /* IE6-8 */
								-webkit-transform: skew(30deg);
								-moz-transform: skew(30deg);
								-o-transform: skew(30deg);
								-ms-transform: skew(30deg);
								border-top: 1px solid;
								border-right: 1px solid;
								border-color: #636363;
								-webkit-box-shadow: 3px -3px 3px 0px rgba(100, 100, 100, .05);
								-moz-box-shadow:    3px -3px 3px 0px rgba(100, 100, 100, .05);
								box-shadow:         3px -3px 3px 0px rgba(100, 100, 100, .05);
						}
				}
		}
}

.bWidget__eContainer {
		width: 454px;
		height: 240px;
		margin-top: 48px;
		position: relative;
		background: #dcdcdc;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RjZGNkYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzlhOWE5YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUyJSIgc3RvcC1jb2xvcj0iIzlhOWE5YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2NzY3NmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #dcdcdc 0%, #9a9a9a 50%, #9a9a9a 52%, #67676a 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dcdcdc), color-stop(50%,#9a9a9a), color-stop(52%,#9a9a9a), color-stop(100%,#67676a)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #dcdcdc 0%,#9a9a9a 50%,#9a9a9a 52%,#67676a 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #dcdcdc 0%,#9a9a9a 50%,#9a9a9a 52%,#67676a 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #dcdcdc 0%,#9a9a9a 50%,#9a9a9a 52%,#67676a 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #dcdcdc 0%,#9a9a9a 50%,#9a9a9a 52%,#67676a 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcdcdc', endColorstr='#67676a',GradientType=0 ); /* IE6-8 */

		-webkit-box-shadow: 0 0 6px 0px rgba(100, 100, 100, .5);
		-moz-box-shadow:    0 0 6px 0px rgba(100, 100, 100, .5);
		box-shadow:         0 0 6px 0px rgba(100, 100, 100, .5);

		border: 1px solid #676767;
		border-bottom: 1px solid #676767;
}

.bWidget__eContainerText {
		height: 240px;
		display: none;
}

.bWidget__eContainerText.active {
		display: block;
}
.bWidget__eContainerScroll {
		width: 440px;
		height: 177px;
		margin-top: 10px;
		overflow: hidden;
}

.bWidget__eContainerList {
		margin: 0;
		padding: 10px 0 0 0;
		overflow: hidden;

		li {
				width: 45%;
				margin: 0 0 0 20px;
				padding: 11px 0 11px 0;
				float: left;
				position: relative;

				&:before {
						content: "";
						height: 1px;
						overflow: hidden;
						margin: 0 10px;
						position: absolute;
						bottom: 0;
						left: 0;
						right: 20px;
						background: #616363;
				}

				figure {
						overflow: hidden;

						img {
								float: left;
						}

						figcaption {
								margin-left: 70px;

								h1 {
										margin: 0;
										padding: 2px 0 12px 0;

										a {
												font-size: 18px;
												line-height: 16px;
												color: #0b4f6a;
												text-decoration: none;
										}
								}

								p {
										padding-right: 18px;
										margin: 0;
										white-space: nowrap;
										overflow: hidden;
										text-overflow: ellipsis;
								}
						}
				}

				.border {
						border-right: 1px solid #656566;
				}
		}

		.last-child {
						margin-bottom: 0;

						&:before {
								display: none;
						}
				}
}


.scrollbar-inner {

		.scroll-element.scroll-y {
				width: 13px;
		}

		.scroll-element {

				.scroll-element_track {
						background: #a0a1a1;
						-webkit-box-shadow: inset 8px 2px 12px 0px rgba(100, 100, 100, 1);
						-moz-box-shadow:    inset 8px 2px 12px 0px rgba(100, 100, 100, 1);
						box-shadow:         inset 8px 2px 12px 0px rgba(100, 100, 100, 1);
				}

				.scroll-bar {
						width: 9px;
						margin: 0 2px;
						background: #4d4f50;
						cursor: pointer;
						border-top: 2px solid rgba(0,0,0,.2);
						border-bottom: 2px solid rgba(0,0,0,.2);
				}
		}

		.scroll-element:hover{
				.scroll-bar {
						background: #4d4f50;
				}
		}
}

.bWidget__eControlPanel {
		margin: 10px 20px 0;
}

.bWidget__eSelect {
		margin-right: 55px;
		display: inline-block;
		vertical-align: bottom;

		.wrapper {
				width: 220px;
				height: 34px;
				position: relative;
				overflow: hidden;
				border: 1px solid #dcdcdc;
				background: #ffffff;
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUyJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMWYxZjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
				background: -moz-linear-gradient(top,  #ffffff 0%, #f9f9f9 50%, #f9f9f9 52%, #f1f1f1 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f9f9f9), color-stop(52%,#f9f9f9), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  #ffffff 0%,#f9f9f9 50%,#f9f9f9 52%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  #ffffff 0%,#f9f9f9 50%,#f9f9f9 52%,#f1f1f1 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  #ffffff 0%,#f9f9f9 50%,#f9f9f9 52%,#f1f1f1 100%); /* IE10+ */
				background: linear-gradient(to bottom,  #ffffff 0%,#f9f9f9 50%,#f9f9f9 52%,#f1f1f1 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-8 */
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;

				&:before {
						content: "";
						width: 30px;
						height: 34px;
						position: absolute;
						right: 0;
						top: 0;
						border-left: 1px solid #e2e2e2;
				}

				&:after {
						content: "";
						position: absolute;
						top: 48%;
						right: 10px;
						left: auto;
						z-index: 0;
						border-width: 5px;
						border-color: transparent;
						border-top-color: #222;
						border-style: solid;
				}

				select {
						width: inherit;
						height: inherit;
						position: relative;
						z-index: 10;
						border: 0;
						background: transparent;
						vertical-align: top;
						opacity: 0;

						option {
								color: #333;
						}
				}

				.title {
						position: relative;
						top: -26px;
						margin-left: 10px;
						text-overflow: ellipsis;
						white-space: nowrap;
						color: #a2a2a2;
				}
		}
}

.bWidget__eCheckbox {

		vertical-align: middle;
		display: inline-block;

		input {
				opacity: 0;
				width: 23px;
				height: 23px;
				position: absolute;
				z-index: 11;
		}

		.checkbox {
				width: 23px;
				height: 23px;
				display: inline-block;
				border: 1px solid #c4c4c4;
				padding: 2px 1px;
				overflow: hidden;
				font-size: 12px;
				margin-right: 5px;
				background: #fff;
				position: relative;
				line-height: 0;

				.icon {
					width: 21px;
					height: 21px;
					display: block;
					position: relative;
					top: 2px;

						&:before {
								content: '';
								speak: none;
								display: inline-block;
								width: 1em;
								text-align: center;
								font-variant: normal;
								text-transform: none;
						}
				}

				.icon.active {
						background: url('../img/ch.jpg');
				}

				input[type=checkbox]:checked+.checkbox .icon {
						opacity: 1;
				}
		}

		label {
				position: relative;
				top: 3px;
				color: #fff;
				font-size: 22px;
				line-height: 23px;
				text-transform: uppercase;
				vertical-align: top;
		}
}

.bWidget__eContainerStatistics {
		padding: 10px;
}