.rss-feed {
  display: flex;

  width: 32px;
  height: 32px;

  align-items: center;
  justify-content: center;
  border-radius: 8px;

  &:hover {
    background-color: var(--navigation-bg-hover);

    & svg {
      color: #fff;
      fill: #fff;
    }
  }

  & svg {
    fill: var(--navigation-bg-hover);
    color: var(--navigation-bg-hover);
  }
}
