@media (width >= 1024px) {
  .grid {
    --grid-shift: 20px;
    gap: 20px;
    grid-template-columns: 200px 1fr;
    grid-template-rows: var(--header-height) 1fr var(--footer-height);

    max-width: 1100px;
    margin: 0 auto;
    padding-left: var(--grid-shift);
    padding-right: var(--grid-shift);

    min-height: 100vh;
  }

  .cell__1 {
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 3;
  }

  .cell__2 {
    grid-row-start: 2;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 2;

    position: sticky;
    top: 20px;
    align-self: start;
  }

  .cell__3 {
    grid-row-start: 2;
    grid-column-start: 2;

    grid-row-end: 3;
    grid-column-end: 3;
  }

  .cell__4 {
    grid-row-start: 3;
    grid-column-start: 1;

    grid-row-end: 4;
    grid-column-end: 3;
  }
}
