@media (width < 1024px) {
  .grid {
    padding-left: var(--site-gap);
    padding-right: var(--site-gap);
    gap: var(--site-gap);
  }

  .cell__2 {
    position: sticky;
    top: 0;
    align-self: start;
    z-index: 1;
  }
}
