<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-6V7R5PS0HC"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());
  gtag("config", "G-6V7R5PS0HC", { anonymize_ip: true });
</script>
