<footer class="footer cell__4">
  <div class="column __wide">
    <div class="footer-aboutme">
      <h2 class="footer-title">
        <img
          src="/assets/img/icons/ic-me.svg"
          alt="User icon"
          width="24"
          height="24"
          class="footer-aboutme_ic"
        />

        {{ global.name }}
      </h2>
    </div>
    <div class="footer-me_dsc">
      {{ global.aboutme }}
    </div>
  </div>
  <div class="column">
    <div class="social-cnt">
      <h2 class="footer-title">Contacts</h2>
       {% include 'components/social-list.njk' %}
    </div>
  </div>
</footer>
