<header class="header flex" id="header">
  <div class="wrapper position">
    <a class="header-logo" href="/" aria-label="Home">
      <svg class="header-logo_svg" width="110" height="110" aria-hidden="true">
        <use href="/assets/img/logo.svg#logo" />
      </svg>
    </a>

    <div class="header-title_tx">
      With <span class="header-title_o">love</span> to all citizens of
      <span class="header-title_g">Earth</span>
    </div>

    {% include 'nav.njk' %}

    <span id="toggleDarkMode"></span>

    <div class="decor-dots __header"></div>
  </div>
</header>
