<header class="header cell__1" id="header">
  <div class="header__left">
    <div class="logo-cnt">
      <a class="logo" href="/" aria-label="Home">
        <ul class="waves-container">
          <li class="wave"></li>
          <li class="wave"></li>
          <li class="wave"></li>
          <li class="wave"></li>
          <li class="wave"></li>
          <li class="wave"></li>
        </ul>

        <img
          src="/assets/img/header/logo.svg"
          width="110"
          height="110"
          alt="Logo"
        />
      </a>
    </div>

    <div class="header-title_tx">
      With <span class="header-title_o">love</span> to all citizens of
      <span class="header-title_g">Earth</span>
    </div>
  </div>
</header>
