{% set navPages = collections.all | eleventyNavigation %}

<div class="navigation-cnt">
  <nav class="navigation" id="navigation" aria-label="Primary">
    <ul class="navigation-list">
      {%- for entry in navPages %}
        <li class="navigation-i">
          <a{% if entry.url == page.url %} class="navigation-link __active"{% endif %} class="navigation-link" {% if entry.url != page.url %}href="{{ entry.url }}"{% endif %}>{{ entry.title }}</a>
        </li>
      {%- endfor %}
    </ul>
  </nav>
</div>