{% if pagination.hrefs.length > 1 %}
	<nav class="pagination" aria-label="Articles">
		{% if pagination.href.previous %}
			
				<a
				class="pagination-link_btn"
				href="{{ pagination.href.previous }}"
				aria-label="Previous page"
				rel="prev">
					<svg class="pagination-link_svg" width="24" height="24" aria-hidden="true">
						<use href="/assets/img/chevron-left.svg#prev"/>
					</svg>
			</a>
			
		{% endif %}
		<ul class="pagination-list">
			{% for pageEntry in pagination.pages %}
				{% set href = pagination.hrefs[loop.index0] %}
				{% set current = 'aria-current="page"' if page.url == href else '' %}
				<li class="pagination-number">
					{% if page.url == pagination.hrefs[ loop.index0 ] %}
						<span
							class="pagination-link __active"
							aria-label="Page {{ loop.index }}"
							{{ current | safe }}
						>
							{{ loop.index }}
						</span>
					{% endif %}
					{% if page.url != pagination.hrefs[ loop.index0 ] %}
						<a
							class="pagination-link"
							href="{{ pagination.hrefs[loop.index0] }}"
							aria-label="Page {{ loop.index }}"
							{{ current | safe }}
						>
							{{ loop.index }}
						</a>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
		{% if pagination.href.next %}
			
				<a
				class="pagination-link_btn"
				href="{{ pagination.href.next }}"
				aria-label="Next page"
				rel="next"
			>
				<svg class="pagination-link_svg" width="24" height="24" aria-hidden="true">
					<use href="/assets/img/chevron-right.svg#next"/>
				</svg>
			</a>
		
		{% endif %}
	</ul>
{% endif %}