<div>
  <a href="/index.xml" title="RSS Feed" class="rss-feed"
    ><img
      src="/assets/img/icons/rss_feed_32.svg"
      width="32"
      height="32"
      class="rss-feed-icon"
      alt="RSS Feed"
  /></a>
</div>
