<div class="tags">
  {% for tag in tags %} {% if tag != "posts" %}
  <span class="tag_i">
    <a href="/tags/{{ tag | slugify }}" class="tag_lk"> {{ tag }} </a>
  </span>
  {% endif %} {% endfor %}
</div>
