---
layout: page.njk
title: About
permalink: about/index.html
eleventyNavigation:
  key: About
  order: 3
---

<div class="about_cnt">
  <div class="about-me">
    <div class="decor __about-me"></div>

    <div class="about-me_i">
      <div class="about-me_text">
        <p>I'm Alla, frontend developer based in the Netherlands.</p>
        <p>
          I started as a developer in 2008 and have always enjoyed the
          challenges of new technologies and staying up-to-date with
          developments.
        </p>
      </div>
    </div>

    <div class="about-me_i">
      <div class="decor-dots __me"></div>
      <img src="/assets/img/about.png" class="about-me_img" alt="Me" />
    </div>
  </div>

  <div class="about-section">
    <header class="about-section_h">Skills</header>

    <main class="about-section_cnt">
      <section class="about-section_i">
        <header class="about-section_t">Languages</header>
        <main class="about-section_dsc">HTML, CSS, JavaSript, TypeScript</main>
      </section>

      <section class="about-section_i">
        <header class="about-section_t">Other</header>
        <main class="about-section_dsc">HTML emails, Sass, Stylus, SVG</main>
      </section>

      <section class="about-section_i">
        <header class="about-section_t">Toolkit</header>
        <main class="about-section_dsc">
          Git, Github Copilot, ParcelJS, Gulp
        </main>
      </section>

      <section class="about-section_i">
        <header class="about-section_t">Graphic tools</header>
        <main class="about-section_dsc">
          Figma, Photoshop, Affinity Designer
        </main>
      </section>
    </main>
  </div>

  <div class="about-section __top">
    <header class="about-section_h">Work</header>

    <div class="cup-pic"></div>

    <main class="about-section_cnt __grid">
      <div>2023&mdash;now</div>
      <div>
        <p>Freelance</p>
        <p>Frontend Developer</p>
      </div>

      <div>2015&mdash;2020</div>
      <div>
        <p>OK.RU</p>
        <p>Frontend Developer</p>
      </div>

      <div>2012&mdash;2013</div>
      <div>
        <p>Armada soft</p>
        <p>Frontend Developer</p>
      </div>

      <div>2009&mdash;2012</div>
      <div>
        <p>Instarcom</p>
        <p>Frontend Developer</p>
      </div>

      <div>2008&mdash;2009</div>
      <div>
        <p>Intermedia</p>
        <p>Web Programmer</p>
      </div>
    </main>
  </div>
</div>
