:root {
  --site-text-color: #2f2a26;
  --background-color: #f8f4f0;

  --header-green: #bfaf4c;
  --header-orenge: #e67e00;

  --social-network-bg: #fff;
  --social-network-bg-hover: #e88600;

  --site-decor-color: #efe5db;

  --navigation-bg: #ffa31a;
  --navigation-bg-hover: #f08a00;

  --pagination-bg: #efe5db;
  --pagination-bg-hover: #c0b87a;

  --article-bg: #fff;
  --article-date: #8c8278;
  --article-blockquote: #c1bbbb;
  --article-blockquote-text: #6d6552;
  --article-link-color: #2f2a26;
  --article-link-color-hover: #e67e00;
  --article-link-border-color: #e67e00;

  --tags-bg: #fdeedc;
  --tags-color: #ff971d;
  --tags-hover-bg: #c0b87a;

  --about-title-bg: #e6e2dc;
  --about-link-color: #1f2937;
  --about-link-color-hover: #e58b2f;

  --footer-secondary-txt-color: #555;

  --border-radius: 8px;

  --content-width: 800px;

  --on-palm: 600px;
  --on-laptop: 800px;
}
