.article-card {
  display: flex;
  overflow: hidden;
  gap: 16px;

  background-color: var(--article-bg);
  border-radius: 8px;
  border: 1px solid var(--article-bg-border);
}

/* Card */

.article-card:not(:first-child) {
  margin-top: 16px;
}

.article-card_date,
.article-card_read {
  font-size: 14px;
  color: var(--article-date);
}

.article-card_read {
  position: relative;

  &:before {
    content: "\2022";
    margin-right: 8px;
  }
}

.article-card_content {
  &.__shift {
    padding: var(--shift);
  }
}

.article-card_title {
  font-family: var(--font-family-text-fira);
  font-weight: normal;
}

.article-card_more {
  text-decoration: none;

  &.__title {
    color: var(--orange);
  }

  &.__desc {
    color: var(--site-color);
  }
}

.article-card_desc {
  padding-top: 12px;

  font-size: var(--article-content-font-size);
  line-height: 1.6;
}
