.about_cnt {
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--gray-purple);

  a {
    color: var(--orange);
  }
}

/* Section About me */

.about-me {
  position: relative;
  padding-bottom: 24px;
}

.about-me_i {
  position: relative;
}

.about-me_text p:not(:first-child) {
  padding-top: 12px;
}

.about-me_img {
  display: block;
  width: 250px;

  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

/* Skills & work */

.about-section {
  position: relative;

  &.__top {
    padding-top: 28px;
  }
}

.about-section_cnt {
  &.__grid {
    display: grid;
    grid-template-columns: 100px auto;
    column-gap: 16px;
    row-gap: 16px;
  }
}

.about-section_h {
  padding-bottom: 16px;

  font-family: var(--font-family-text-fira);
  font-size: 22px;
  font-weight: 700;
}

.about-section_i {
  flex: 1;
  overflow: hidden;

  border: 1px solid var(--brown);
  border-radius: 8px;
}

.about-section_t {
  font-family: var(--font-family-text-fira);
  font-weight: 700;

  border-bottom: 1px solid var(--brown);
  background-color: var(--gray);
}

.about-section_dsc,
.about-section_t {
  padding: 12px 8px;
}

.about-tx-color_light {
  color: var(--gray-dark);
}
