@media (width < 640px) {
  .cv {
    font-size: 14px;
  }

  .cv-header {
    padding: 12px 16px;
  }

  .cv-header_name {
    font-size: 26px;
    line-height: 28px;
  }

  .cv-header_position {
    padding-top: 4px;

    font-size: 16px;
    line-height: 18px;
  }

  .title {
    padding-bottom: 8px;
    font-size: 16px;
  }

  /* Summary
-------------------------------------------------- */

  .summary {
    padding: 16px;
  }

  .summary_tx p {
    line-height: 1.4;
  }

  /* /Summary */

  /* Content
-------------------------------------------------- */

  .content_left,
  .content_right {
    padding: 16px;
  }

  .content_right {
    order: -1;
  }
  /* /Content */

  .item-title_bold {
    font-size: 16px;
  }

  .item-text {
    padding-top: 4px;
  }

  .item-time {
    padding-bottom: 4px;
    font-size: 12px;
  }
}
