---
permalink: /sitemap.xml
---
{% raw %}<?xml version="1.0" encoding="utf-8"?>{% endraw %}
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for item in collections.sitemap %} {% if item.url and not item.data.excludeFromSitemap %}
  <url>
    <loc>{{ global.domain }}{{ item.url }}</loc>
    <lastmod>{{ item.date | dateISO }}</lastmod>
  </url>
  {% endif %} {% endfor %}
</urlset>
