@import "vars";
@import "mixins";

.footer {
  margin-top: $shift*5;
  padding-top: $shift*5;
  padding-bottom: $shift*5;

  border-top: 4px solid $header-gray;

  & .wrapper {
    display: flex;
  }
}

.footer-social_link {
  display: inline-block;
  vertical-align: middle;

  & svg {
    display: block;
  }
}

.footer-social_link:not(:first-child) {
  margin-left: $shift*2;
}

.social {
  color: $brown;
  fill: $brown;

  .footer-social_link:hover & {
    color: $orange;
    fill: $orange;
  }
}

.social-cnt {
  position: relative;
  display: inline-block;
  padding: $shift*2 $shift*3;

  background-color: $gray;
  border-radius: 8px;

  &:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 100%;
    margin-left: -1px;

    width: 4px;
    height: 20px;

    background-color: $gray;
  }
}

// About me

.footer-aboutme,
.footer-me_dsc {
  color: $gray-purple;
}

.footer-aboutme {
  padding-bottom: $shift*3;
}

.footer-aboutme_name {
  padding-right: $shift*4;
  font-weight: 600;
}

.footer-aboutme_ic {
  display: inline-block;
  transform: translate(0, 2px);

  margin-right: $shift*2;
}

.footer-aboutme_svg {
  display: inline-block;
  width: 20px;

  fill: $brown;
}

.footer-aboutme_email {
  color: $orange;
}