@import "vars";
@import "mixins";

.header {
	position: sticky;
	top: 0;
	z-index: 2;
	align-self: center;

	width: 100%;
  height: 110px;

  border-top-style: solid;
  border-top-width: 4px;
  border-top-color: $header-gray;
  border-bottom-color: transparent;

	background-color: $background-color;

	@include media-query($on-laptop) {
		width: 100%;
	}

	@include media-query($on-palm) {
		width: 100%;
	}

	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

		height: 2px;
		background-color: $header-gray;

		@include media-query($on-palm) {
			right: 0;
		}
	}

	& .wrapper {
		position: relative;
		height: inherit;
	}
}

.header-title_tx {
  position: absolute;
	left: 154px;
	bottom: 12px;
	padding: 4px 12px;

	color: #999;
	cursor: default;
	background-color: $header-gray;
	border-radius: 8px;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 100%;

		width: 4px;
		height: 12px;

		background-color: $header-gray;
	}

	&:before {
		left: 8px;
	}

	&:after {
		right: 8px;
	}

	@include media-query($on-palm) {
		padding: 4px 8px;
		left: 138px;
		z-index: 2;

		font-size: 12px;
		line-height: 14px;
	}
}

.header-title_g,
.header-title_o {
  font-size: 18px;
  font-weight: 600;

	@include media-query($on-palm) {
		font-size: 12px;
	}
}

.header-title_g {
	color: $green-color;
}
.header-title_o {
	color: $orange;
}

// Logo

.header-logo {
	display: block;
	position: relative;
	margin-top: 12px;

	width: 109px;
	height: 109px;

	&:after {
		content: '';
		position: absolute;
		top: -8px;
		bottom: -8px;
		left: -8px;
		right: -8px;

		background-color: #f1ece8;
		border-radius: 50%;
	}

	&:before {
		content: '';
		display: block;

		position: absolute;
		top: 53px;
		left: 30px;
		z-index: 4;

		width: 50px;
		height: 30px;

		background-image: url('/assets/img/logo-a.png');
		background-size: 450px 100%;
		background-position: 0 0;

		animation: header-logo-anim steps(9) 2.3s infinite;
	}
}

.header-logo_svg {
	position: relative;
	z-index: 3;
}

@keyframes header-logo-anim {
	0% {background-position: 0 0;}
	100% {background-position: -450px 0;}
}