.navigation-list {
  display: flex;
  list-style: none;
}

/* Desctop version */

.navigation-link {
  display: block;

  font-family: var(--font-family-text-geistmono);
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--navigation-bg);

  background-color: #fff;

  &:hover,
  &.__active {
    color: var(--navigation-bg-hover);
  }

  &.__active {
    cursor: default;
  }
}
