@media (width < 1024px) {
  .navigation-list {
    display: flex;
    flex-direction: row;
  }

  .navigation-link {
    padding: 6px 12px;
    border-radius: 8px;
  }

  .navigation-list {
    column-gap: 4px;
  }

  .navigation-i {
    flex: 1;
    text-align: center;
  }
}
