.navigation-cnt {
  font-family: var(--font-family-medium);
  float: right;

  /* Mobile version */

  @media screen and (max-width: $on-palm) {
    position: absolute;
    top: 9px;
    right: 8px;

    background-color: $background-color;
    border: 1px solid $navigation-gray;
    border-radius: 4px;

    text-align: left;
    z-index: 4;

    label[for="navigation-trigger"] {
      display: block;
      float: right;

      width: 36px;
      height: 36px;

      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $navigation-gray;
      }
    }

    input ~ .navigation-trigger_cnt {
      clear: both;
      display: none;
    }

    input:checked ~ .navigation-trigger_cnt {
      display: block;
      padding-bottom: 5px;
    }

    .navigation-link {
      display: block;
      padding: 4px 12px;

      color: $orange;

      &.__active {
        color: $green-color;
      }
    }
  }
}

.navigation-trigger,
.menu-icon {
  display: none;
}

.navigation-list {
  list-style: none;
}

// Desctop version

@media screen and (min-width: $on-palm) {
  .navigation-trigger_cnt {
    position: absolute;
    left: 154px;
    top: 16px;
  }

  .navigation-list {
    display: flex;
    column-gap: $shift * 3;
  }

  .navigation-link {
    padding: 6px 12px;
    background-color: $navigation-gray;

    color: $orange;
    border-radius: 8px;

    font-weight: 500;
    text-decoration: none;

    &:hover,
    &.__active {
      background-color: $green-color;
      color: #fff;
    }

    &.__active {
      cursor: default;
    }
  }
}
