@import "../vars";
@import "../mixins";

.tags-page {
  flex-flow: wrap;
  padding-top: 20px;
}

.tags,
.tags-page {
  display: flex;
  column-gap: 12px;
}

.tags-page_i {
  display: inline-block;
  margin-bottom: 8px;
}

.tags {
  &.__top {
    padding-top: 12px;
  }
}

.tag_lk {
  display: inline-block;
  padding: 12px;

  border: 1px solid $brown;
  border-radius: 12px;

  font-size: 12px;
  text-decoration: none;
  color: $brown;

  &:hover {
    background-color: $green-color;
    border-color: $green-color;
    color: #fff;
  }
}
