@import "../vars";
@import "../mixins";

.tags-page {
  flex-flow: wrap;
  padding-top: $shift*5;
}

.tags,
.tags-page {
  display: flex;
  column-gap: 8px;
}

.tags-page_i {
  display: inline-block;
  margin-bottom: $shift*2;
}

.tags {

  &.__top {
    padding-top: $shift*3;
  }
}

.tag_lk {
  display: inline-block;
  padding: $shift;

  border: 1px solid $brown;
  border-radius:  $shift*2;

  font-size: 12px;;
  text-decoration: none;
  color: $brown;

  &:hover {
    background-color: $green-color;
    border-color: $green-color;
    color: #fff;
  }
}