@import "../vars";
@import "../mixins";

 .error-page {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;

	padding-top: 46px;
	padding-left: 232px;

	width: 360px;
	height: 360px;

	color: #c5321d;
	font-weight: bold;
	font-size: 21px;

	background-image: url('/assets/img/404.png');
	background-size: 360px;
}

@keyframes error-page-s-anim {
	from {background-position: 0 0;}
	to {background-position: -104px 0;}
}

.error-page-s {
	display: block;

	position: absolute;
	top: 37px;
	left: 148px;

	width: 52px;
	height: 39px;

	background-image: url('/assets/img/s.png');
	background-size: auto 100%;
	background-position: 0 0;

	animation: error-page-s-anim steps(2) .6s infinite;
}

.error-page_dsc {
	text-align: center;
}

.error-page_t {
	padding-bottom: 12px;
	font-weight: 700;
}