@media (width < 1024px) {
  .header-title_tx {
    right: 10px;
    z-index: 2;

    padding: 4px 8px;
  }

  .header-title_g,
  .header-title_o {
    font-size: 14px;
  }
}

@media (width < 480px) {
  .header-title_tx {
    left: 148px;
  }
}
