$green-color: #93B536;
$gray-site: #f1ece8;

// ------------- common ----------------- //

html {
	color: #333;
}

body {
	min-height: 100vh;
  height: 100%;

	background-image: url('../assets/site/ff.png');
	background-size: 562px;
}

a,
a:visited,
a:hover,
a:focus { color: #ce6425; }

h2 {
	margin-bottom: 0;
}

blockquote {
	border-left-color: #999;
}

// ------------- /common ----------------- //


// ------------- site ----------------- //

.wrapper-main {
	color: #333;
}

.wrapper {
	max-width: 100%;
}

.wrapper-main {
  display: flex;
  flex-direction: column;
}

.page-content,
.site-footer {
  flex: 1;
  flex-shrink: 0;
	align-self: center;
	width: 980px;

	@include media-query($on-laptop) {
		width: 100%;
	}

	@include media-query($on-palm) {
		width: 100%;
	}
}

.page-content {
	position: relative;
	padding-bottom: 0;
}

.page-img {
	padding-bottom: 12px;
}

.site-header {
	position: relative;
	z-index: 1;
	align-self: center;

	width: 980px;
  height: 110px;
  border-top-color: #cfc8c8;
  border-bottom-color: transparent;

	@include media-query($on-laptop) {
		width: 100%;
	}

	@include media-query($on-palm) {
		width: 100%;
	}

	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 50px;
		right: 100px;

		height: 2px;
		background-color: $gray-site;

		@include media-query($on-palm) {
			right: 0;
		}
	}

	& .wrapper {
		position: relative;
		height: inherit;
	}
}

.site-title {
	position: relative;
	top: 16px;
	left: 0;

	width: 110px;
	height: 110px;

	background-image: url('../assets/site/logo.png');
	background-size: 110px;
}

@keyframes site-title-anim {
	from {background-position: 0 0;}
	to {background-position: -450px 0;}
}

.site-title:after {
	content: '';
	display: block;

	position: absolute;
	top: 53px;
	left: 30px;

	width: 50px;
	height: 30px;

	background-image: url('../assets/site/logo-a.png');
	background-size: 450px 100%;
	background-position: 0 0;

	animation: site-title-anim steps(9) 2.5s infinite;
}

@keyframes site-bg-anim {
	from {background-position: 0 0;}
	to {background-position: -320px 0;}
}

.site-pic {
	position: absolute;

	bottom: -72px;
	right: 50px;

	width: 180px;
	height: 180px;

	background-image: url('../assets/site/bg.png');
	background-size: 180px;

	background-color: $gray-site;
	border-radius: 50%;

	&:after {
		content: '';
		width: 35.5px;
		height: 59px;

		display: block;
		position: absolute;
		top: 10px;
    left: 75px;

		background-image: url('../assets/site/bg-a.png');
		background-size: 320px 100%;
		background-position: 0 0;

		animation-timing-function: ease;

		animation: site-bg-anim steps(9) 1.4s infinite;
	}

	@include media-query($on-palm) {
		display: none;
	}
}

.site-title_tx {
	position: absolute;
	left: 154px;
	bottom: 12px;
	padding: 2px 8px;

	font-family: monaco,courier,monospace;
	color: #999;
	cursor: default;
	background-color: $gray-site;
	border-radius: 8px;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 100%;

		width: 4px;
		height: 12px;

		background-color: $gray-site;
	}

	&:before {
		left: 8px;
	}

	&:after {
		right: 8px;
	}

	@include media-query($on-palm) {
		padding: 2px 4px;

		font-size: 12px;
		line-height: 14px;
	}
}

.site-title_o {
	font-size: 18px;
	color: $green-color;

	@include media-query($on-palm) {
		font-size: 12px;
	}
}

.site-nav .page-link {
	padding: 2px 8px;
	background-color: $gray-site;

	@include media-query($on-palm) {
		text-align: left;
		background-color: transparent;
	}
  color: #ce6425;
	border-radius: 12px;

	&:hover {
		text-decoration: none;
		background-color: #ece5de;
	}
}

.site-title,
.site-title:visited { color: #ce6425; }

.socials {
	margin-right: 16px;

	a:hover {
		text-decoration: none;
	}
}

.island {
	padding: 16px;

	background-color: $gray-site;
	border-radius: 8px;

	& + & {
		margin-top: 8px;
	}
}
// ------------- /site ----------------- //


// ------------- post' page ----------------- //

.post-link {
	display: inline-block;

	@include media-query($on-laptop) {
		font-size: 20px;
		line-height: 24px;
	}
}

.post-title {
	font-size: 32px;

	@include media-query($on-laptop) {
		font-size: 20px;
		line-height: 24px;
	}
}

.post-meta {
	font-family: monaco,courier,monospace;
}

.post-dsc {
	color: #666;
	line-height: 20px;
}

pre, code {
	background-color: #fcfaf7;
}

@media screen and (min-width: $on-laptop) {
	.trigger {
		position: absolute;
			left: 154px;
			top: 0;
	}
}

.post-tegs {
	padding-top: 4px;

	font-size: 12px;
	color: #999;

	cursor: default;
}
// ------------- /post' page ----------------- //


// ------------- 404 ----------------- //

.error-page {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;

	padding-top: 46px;
	padding-left: 232px;

	width: 320px;
	height: 320px;

	color: #c5321d;
	font-weight: bold;
	font-size: 21px;

	background-image: url('../assets/site/404.png');
	background-size: 320px;
}

@keyframes error-page-s-anim {
	from {background-position: 0 0;}
	to {background-position: -104px 0;}
}

.error-page-s {
	display: block;

	position: absolute;
	top: 14px;
	left: 126px;

	width: 52px;
	height: 39px;

	background-image: url('../assets/site/s.png');
	background-size: auto 100%;
	background-position: 0 0;

	animation: error-page-s-anim steps(2) .6s infinite;
}

.error-page_dsc {
	text-align: center;
}

// ------------- /404 ----------------- //


// ------------- footer ----------------- //

.site-footer {
	padding: 0;
	border: 0;
}

.wrapper.__footer {
	margin: 8px 30px;

	@include media-query($on-palm) {
		margin-left: 15px;
		margin-right: 15px;
	}
}

// ------------- /footer ----------------- //


// ------------- botton to top ----------------- //

.back-to-top-link_cnt {
	position: absolute;
	bottom: 0;
}

.back-to-top-link {
  position: fixed;
	display: none;
  pointer-events: all;
  bottom: 24px;

	padding: 12px;
	width: 24px;
  height: 24px;

  font-size: 12px;
	font-weight: bold;
  line-height: 24px;
  text-align: center;
	outline: none;
	color: #666;
  
  border-radius: 12%;
  background-color: #b3b2af3b;
  transition: transform 80ms ease-in;
}
.back-to-top-link:hover,
.back-to-top-link:focus {
	text-decoration: none;
  transform: scale(1.1);
}
.back-to-top-link:focus {
  outline: none;
  box-shadow: 0 0 0 3px $gray-site;
}

// ------------- /botton to top ----------------- //