
$green-color: #93B536;

/* Common
-------------------------------------------------- */

.post-bold {
	font-weight: bold;
}

.post-main {
	padding: 2px 4px;

	border-radius: 2px;
	font-weight: bold;
	color: #fff;
	background-color: $green-color;
}

.post-content-center {
	display: flex;
	padding-top: 4px;
	padding-bottom: 12px;
	justify-content: center;
}

.posts-menu_i {
	display: block;
	padding-bottom: 4px;
}

.posts-menu_bk {
	display: block;
	padding-bottom: 8px;
}

.posts-menu_lk {
	text-decoration: none;
	border-bottom: 1px dashed;

	&:hover {
		color: #da701d;
		text-decoration: none;
	}
}

.posts-block-right {
	float: right;
	margin-left: 12px;
	margin-bottom: 12px;
	padding: 16px;
	max-width: 260px;

	background-color: #da701d;
	border-radius: 12px;

	@include media-query($on-palm) {
		margin-left: 0;
		max-width: 100%;
		width: 100%;
    box-sizing: border-box;
	}

	&.__yellow {
		background-color: #f2d76b;
	}

	&.__green {
		line-height: 16px;
		color: #fff;
		background-color: #93B536;
	}
}

.posts-block-right_i {
	display: block;
}

.posts-block-right_lk,
.posts-block-right_lk:visited {
	color: #fff;
}

.post-header {
	margin-bottom: 16px;
}

.post-img {
	padding: 12px 8px 4px;
	text-align: center;

	img {
		display: inline-block;
	}
}

/* /Common */