
$green-color: #93B536;

/* Common
-------------------------------------------------- */

.post-bold {
	color: #000;
	font-weight: bold;
}

.post-main {
	padding: 2px 4px;

	border-radius: 2px;
	font-weight: bold;
	color: #fff;
	background-color: $green-color;
}

.post-content-center {
	display: flex;
	padding-top: 4px;
	padding-bottom: 12px;
	justify-content: center;
}

.posts-menu_i {
	display: block;
	padding-bottom: 4px;
}

.posts-menu_lk {
	text-decoration: none;
	border-bottom: 1px dashed;

	&:hover {
		color: #da701d;
		text-decoration: none;
	}
}

.posts-block-right {
	float: right;
	margin-left: 12px;
	margin-bottom: 12px;
	padding: 16px;

	background-color: #da701d;
	border-radius: 12px;

	&.__green {
		background-color: #f2d76b;
	}
}

.posts-block-right_i {
	display: block;
}

.posts-block-right_lk,
.posts-block-right_lk:visited {
	color: #fff;
}

.post-header {
	margin-bottom: 16px;
}

.post-img {
	padding: 12px 8px 4px;
	text-align: center;

	img {
		display: inline-block;
	}
}

/* /Common */