---
title: Articles
pagination:
  data: collections.work
  size: 5
permalink: "{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
eleventyNavigation:
  key: Home
  order: 1
layout: page.njk
---

{% from "components/post-list-item.njk" import postList %}

<div class="sections-tag__cnt">
  {% for tag in collections.workTags %}
    <span class="sections-tag">
      <a href="/work/{{ tag | slugify }}/" class="sections-tag__lk">
        {{ tag }}
      </a>
    </span>
  {% endfor %}
</div>

{{ postList(pagination.items) }}

{% include "paginator.njk" %}