@media (width >= 1024px) {
  .article-title {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .article-img {
    &.__big {
      max-width: 500px;
    }
  }

  .article-content {
    p {
      line-height: 1.6;
    }
  }
}
