.footer {
  --footer-shift: 20px;

  margin-top: var(--footer-shift);
  padding-top: var(--footer-shift);
  padding-bottom: var(--footer-shift);

  border-top: 4px solid var(--site-decor-color);

  & .wrapper {
    display: flex;
  }
}

.footer-social_link {
  display: inline-block;
  vertical-align: middle;

  & svg {
    display: block;
  }
}

.footer-social_link:not(:first-child) {
  margin-left: 8px;
}

.footer-social_ic {
  fill: var(--social-network-bg);
  color: var(--social-network-bg);

  .footer-social_link:hover & {
    color: var(--social-network-bg-hover);
    fill: var(--social-network-bg-hover);
  }
}

.social-cnt {
  position: relative;
  display: inline-block;
  padding: 8px 12px;

  background-color: var(--site-decor-color);
  border-radius: 8px;

  &:before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 100%;
    margin-left: -1px;

    width: 4px;
    height: 20px;

    background-color: var(--site-decor-color);
  }
}

/* About me */

.footer-me_dsc {
  color: var(--footer-secondary-txt-color);
}

.footer-aboutme {
  padding-bottom: 4px;
}

.footer-aboutme_name {
  padding-right: 16px;
  font-weight: 600;
}

.footer-aboutme_ic {
  display: inline-block;
  transform: translate(0, 2px);
}
