---
layout: page.njk
title: Tags
permalink: tags/index.html
eleventyNavigation:
  key: Tags
  order: 2
---

<div class="tags-page">
  {% for tag in collections.tagList %}
  <span class="tags-page_i">
    <a href="/tags/{{ tag }}" class="tag_lk __list">
      {{ tag }}
    </a>
  </span>
  {% endfor %}
</div>

<div class="tags-pic_cnt">
  <div class="tags-pic">
    <svg class="tags-pic_svg" width="300" height="300" aria-hidden="true">
      <use href="/assets/img/tags.svg#tags-pic" />
    </svg>
  </div>
</div>
