---
pagination:
  data: collections.sectionTags
  size: 1
  alias: current
permalink: "/{{ current.section }}/{{ current.tag | slugify }}/index.html"
layout: page.njk
---

{% from "components/post-list-item.njk" import postList %}

<div class="island">
  <h1 class="sections-tag__title">{{ current.tag }}</h1>
</div>

{{ postList(
  collections.all
    | bySectionAndTag(current.section, current.tag),
  false
) }}