@import "../vars";
@import "../mixins";

.pagination,
.pagination-list {
  display: flex;
  column-gap: $shift*2;
}

.pagination {
  padding-top: $shift*5;
}

.pagination-number {
  padding: 0;
  margin: 0;
}

.pagination-list {
  list-style: none;
  align-items: flex-start;
}

.pagination-link,
.pagination-link_btn {
  display: block;
  background-color: $navigation-gray;

  color: $brown;
  border-radius: 8px;
  text-decoration: none;

  &:hover,
  &.__active {
    background-color: $green-color;
    color: #fff;
  }

  &.__active {
    cursor: default;
  }
}

.pagination-link {
  padding: 6px 12px;
}

.pagination-link_btn {
  display: flex;
  align-items: center;

  padding-left: 4px;
  padding-right: 4px;
}

.pagination-link_svg {
  stroke: $brown;

  .pagination-link_btn:hover & {
    stroke: #fff;
    }
}