.navigation {
  display: block;
}

.navigation-cnt {
  display: flex;
  gap: 12px;
  align-items: flex-start;

  position: absolute;
}

.navigation-trigger,
.menu-icon {
  display: none;
}

.navigation-list {
  list-style: none;
}

/* Desctop version */

.navigation-list {
  display: flex;
}

.navigation-link {
  display: block;
  padding: 6px 12px;

  border-radius: 8px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  background-color: var(--navigation-bg);

  &:hover,
  &.__active {
    background-color: var(--navigation-bg-hover);
  }

  &.__active {
    cursor: default;
  }
}
