@media (width < 1024px) {
  .navigation-cnt {
    right: 8px;
    top: 8px;
  }

  .navigation-link {
    padding: 6px 12px;
    border-radius: 8px;
  }

  .navigation-list {
    column-gap: 4px;
  }
}
