:root {
  /* Global variables for COLORS */

  --site-text-color: #2f2a26;
  --site-text-color-secondary: #555;
  --background-color: #fff8f1;

  --header-green: #bfaf4c;
  --header-orenge: #e67e00;

  --social-network-bg: #fff;
  --social-network-bg-hover: #e88600;

  --site-decor-color: #ffd460;

  --navigation-bg: #f07b3f;
  --navigation-bg-hover: #ea5455;

  --pagination-bg: #f07b3f;
  --pagination-bg-hover: #ea5455;

  --tags-bg: #fdeedc;
  --tags-color: #ff971d;
  --tags-hover-bg: #c0b87a;

  --about-title-bg: #ffd460;
  --about-link-color: #1f2937;
  --about-link-color-hover: #e58b2f;

  --footer-secondary-txt-color: #8c8278;
  --footer-social-link: #555;
  --footer-social-link-hover: #ea5455;

  /* /Global variables for COLORS */

  /* Global variables for Sizes */

  --border-radius: 12px;

  /* /Global variables for Sizes */
}
