:root {
  --site-color: #6b543e;
  --background-color: #fdfdfd;

  --gray: #f1ece8;
  --gray-dark: #c1bbbb;
  --gray-purple: #88706b;

  --green-color: #bfaf4c;
  --orange: #e4892e;
  --brown: #c9c0bb;

  --header-gray: #f1ece8;

  --navigation-gray: #f3efec;
  --navigation-gray-dark: #c1bbbb;

  --article-bg-border: #f3efec;
  --article-bg: #faf9f8;
  --article-date: #b29e8b;
  --article-blockquote: #c1bbbb;
  --article-blockquote-text: #6d6552;

  --border-radius: 8px;

  --content-width: 800px;

  --on-palm: 600px;
  --on-laptop: 800px;
}
