@import "__global/vars/index.css";
@import "__global/fonts.css";
@import "__global/base.css";

/* Blocks */
@import "blocks/header/index.css";
@import "blocks/footer.css";
@import "blocks/logo/index.css";
@import "blocks/navigation/index.css";
@import "blocks/tags.css";
@import "blocks/pagination.css";
@import "blocks/rss/index.css";

/* Page */
@import "pages/article/index.css";
@import "pages/about/index.css";
@import "pages/404.css";

/* extensions */
@import "extensions/syntaxhighlight.css";

/* Decorations */
@import "decor/decor.css";
@import "decor/cup.css";
@import "decor/tags.css";
