.article-item {
  display: flex;
  overflow: hidden;
  gap: 16px;

  background-color: var(--article-bg);
  border-radius: 8px;
}

/* Card */

.article-item:not(:first-child) {
  margin-top: 24px;
}

.article-item_date,
.article-item_read {
  font-size: 14px;
  color: var(--article-date);
}

.article-item_read {
  position: relative;

  &:before {
    content: "\2022";
    margin-right: 8px;
  }
}

.article-item_title {
  font-family: var(--font-family-text-fira);
  font-weight: normal;
}

.article-item_content {
  display: flex;
  flex-direction: column;

  &.__shift {
    padding: var(--shift);
  }
}

.article-item_lk {
  color: var(--article-link-color);
  text-decoration: none;

  &:hover {
    color: var(--article-link-color-hover);
  }
}

.article-item__desc {
  flex: 1;
  text-decoration: none;

  &.__title {
    color: var(--orange);
  }
}

.article-item_desc {
  padding-top: 12px;

  font-size: var(--article-content-font-size);
  line-height: 1.6;
}
