@media (width >= 1024px) {
  .article-item_content {
    --shift: 16px;

    padding: var(--shift) var(--shift) var(--shift) 0;
  }

  .article-item_title {
    font-size: 24px;
  }

  .article-item_cover {
    img,
    svg {
      width: 220px;
      display: block;
    }
  }

  .article-item__desc {
    padding-top: 24px;
    padding-bottom: 12px;

    font-size: 21px;
  }
}
