@media (width < 1024px) {
  .article-item {
    flex-direction: column;
  }

  .article-item_content {
    --shift: 8px;
    padding: var(--shift);
  }

  .article-item_title {
    font-size: 20px;
  }
}
