@import "card.css";
@import "navigation.css";

/* Article */

.article {
  margin-top: 16px;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--article-bg);
}

.article-title {
  font-weight: normal;
  font-family: var(--font-family-medium);
  font-size: 30px;
}

.article-date {
  display: inline-block;
  margin-bottom: 12px;

  font-size: 12px;
  color: var(--article-date);
}

.article-content {
  padding-top: 16px;

  a {
    color: var(--site-color);
    text-decoration: none;
    box-shadow: inset 0 -1px var(--orange);

    &:hover {
      color: var(--orange);
    }
  }

  p {
    font-family: var(--font-family-text-fira);
    line-height: 1.6;
  }

  p:not(:first-child) {
    padding-top: 20px;
  }

  h1,
  h2 {
    padding-top: 36px;

    font-family: var(--font-family-text-roboto);
    font-weight: 500;
  }

  img {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
  }

  ul {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;

    font-family: var(--font-family-text-fira);
    line-height: 1.6;
  }

  li:not(:first-child) {
    padding-top: 8px;
  }
}

.article-img {
  display: block;
  text-align: center;

  &.__top {
    padding-top: 12px;
  }
}

/* /Text elements */

.article-at {
  padding: 0 4px;

  &.__shift {
    display: inline-block;
    padding: 12px 16px;
    margin-top: 20px;

    border-radius: 8px;
  }

  &.__pink {
    background-color: #e7c8be;
  }

  &.__yellow {
    background-color: #f7ebce;
  }

  &.__green {
    background-color: #dae6c8;
  }
}

blockquote {
  padding-left: 15px;

  color: var(--article-blockquote-text);
  border-left: 4px solid var(--article-blockquote);
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}

/* Article additional navigation */

.article-mark {
  padding: 2px 4px;

  border-radius: 2px;
  color: #fff;
  background-color: var(--green-color);
}

.article-center {
  padding-top: 12px;
  text-align: center;
}

.article-bold {
  font-weight: 600;
}
