.article-navigation_cnt {
  @media (width > 840px) {
    float: right;
    margin-left: 12px;
  }

  @media (width < 840px) {
    margin-top: 16px;
  }
}

.article-navigation {
  display: block;
  margin-bottom: 12px;
  padding: 16px;
  max-width: 270px;
  box-sizing: border-box;

  border-radius: 12px;

  @media (width < 840px) {
    max-width: 100%;
    margin-top: 16px;
  }

  @media (width > 840px) {
    &.__right {
      float: right;
      margin-left: 12px;
    }
  }

  &.__yellow {
    background-color: #f2d76b;
  }

  &.__green {
    color: #fff;
    line-height: 16px;
    background-color: var(--green-color);
  }

  &.__small {
    font-size: 14px;
  }
}

.article-navigation_i {
  display: block;
  padding-bottom: 12px;
}

.article-navigation_lk {
  text-decoration: none;
  border-bottom: 1px dashed;
  color: var(--orange);

  &:hover {
    color: var(--orange);
    text-decoration: none;
  }

  .article-navigation.__green & {
    border-bottom-style: solid;
    color: #fff;
  }
}
