@font-face {
  font-family: "Fira Code";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/FiraCode-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Fira Code";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/FiraCode-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "PTSans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/PTSans/PTSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "PTSans";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/PTSans/Rubik-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "PTSans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/PTSans/PTSans-Bold.woff2") format("woff2");
}

:root {
  --font-family-text-fira: "Fira Code", sans-serif;
  --font-family-text-PTSans: "PTSans", sans-serif;
}
