:root {
  --green-color: #b5c18e;
}

.article {
  display: flex;
  flex-direction: column;
  gap: var(--site-gap);
}

.article-header {
  position: relative;
  padding: var(--site-island-space);

  background-color: var(--article-bg);
  border-radius: var(--border-radius);
}

.article-title {
  font-family: var(--font-family-text-manrope);
}

.article-date {
  display: inline-block;

  font-size: 16px;
  color: var(--article-date);
}

.article-content {
  padding: var(--site-island-space);

  font-size: var(--article-content-font-size);

  border-radius: var(--border-radius);
  background-color: var(--article-bg);

  p {
    line-height: var(--article-content-line-height);
  }

  p:not(:first-child) {
    padding-top: var(--article-content-p-shift);
  }

  h1,
  h2 {
    font-family: var(--font-family-text-manrope);
    font-size: var(--article-subtitle-font-size);
  }

  p + h1,
  p + h2,
  div + h2,
  figure + h2,
  details + h2,
  table + h2 {
    padding-top: 42px;
  }

  h2 + div {
    margin-top: var(--site-gap);
  }

  img {
    display: inline-block;
    vertical-align: middle;
  }

  ul,
  ol {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;

    line-height: 1.6;
  }

  li:not(:first-child) {
    padding-top: 8px;
  }

  blockquote {
    margin-top: var(--article-content-gap);
    margin-bottom: var(--article-content-gap);
    padding-left: 15px;

    color: var(--article-blockquote-text);
    border-left: 4px solid var(--article-blockquote);
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;
  }
}

.article-content a:not(:has(img)) {
  color: var(--article-link-color);
  text-decoration: none;
  border-bottom: 2px solid var(--article-link-border-color);

  &:hover {
    color: var(--article-link-color-hover);
  }
}

.article-content :not(pre) > code {
  padding: 2px;
  border-radius: 2px;
  background-color: var(--code-example-bg);
}

.article-content__center {
  padding-top: 16px;
  display: block;
  text-align: center;
}

.article-content__left {
  padding-top: var(--article-content-gap);
  padding-bottom: var(--article-content-gap);
}

.article-img {
  overflow: hidden;
  display: inline-block;
  border-radius: var(--border-radius);
}

.article-figure {
  padding-top: 16px;
  text-align: center;
}

.article-figcaption {
  color: var(--green-color);
}

/* /Text elements */

.article-at {
  padding: var(--site-island-space);
  line-height: var(--article-content-line-height);
  border-radius: var(--border-radius);

  &.__shift {
    margin-top: var(--article-content-gap);
    color: #5e554e;
  }

  &.__pink {
    background-color: #e7c8be;
  }

  &.__yellow {
    background-color: #fffadd;
  }

  &.__green {
    background-color: #f7f7e8;
  }
}

/* Article additional navigation */

.article-mark {
  padding: 2px 4px;

  border-radius: 2px;
  color: #fff;
  background-color: var(--green-color);
}

.article-bold {
  font-weight: 600;
}

.table-container {
  overflow: auto; /* Enables both horizontal and vertical scrolling */
  border-radius: var(--border-radius);
  /* overflow: hidden; */
  border: 1px solid #ccc;
}

.table {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: separate;

  h2 + &,
  & + & {
    margin-top: var(--site-gap);
  }

  th:not(:last-child),
  td:not(:last-child) {
    border-right: 1px solid #ccc;
  }

  & td:nth-child(1),
  & th:nth-child(1) {
    position: sticky;
    left: 0; /* Ensures the column stays on the left */
    z-index: 1; /* Keeps the column above other cells */
    background-color: #f9f9f9;
  }

  & th:nth-child(1) {
    z-index: 2;
    background: #f2f2f2;
  }

  th,
  td {
    padding: 8px 12px;
    text-align: left;
  }

  th {
    background: #f2f2f2;
  }

  tr:nth-child(even) {
    background: #fafafa;
  }
}
