:root {
  --green-color: #b5c18e;
}

.article-header {
  position: relative;
  padding: 16px;

  background-color: var(--article-bg);
  border-radius: var(--border-radius);
}

.article-title {
  font-family: var(--font-family-text-manrope);
}

.article-date {
  display: inline-block;

  font-size: 16px;
  color: var(--article-date);
}

.article-content {
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px;

  font-size: var(--article-content-font-size);

  border-radius: var(--border-radius);
  background-color: var(--article-bg);

  p {
    line-height: var(--article-content-line-height);
  }

  p:not(:first-child) {
    padding-top: var(--article-content-p-shift);
  }

  h1,
  h2 {
    padding-top: 42px;

    font-family: var(--font-family-text-manrope);
    font-size: var(--article-subtitle-font-size);
  }

  img {
    display: inline-block;
    vertical-align: middle;
  }

  ul {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;

    line-height: 1.6;
  }

  li:not(:first-child) {
    padding-top: 8px;
  }

  blockquote {
    padding-left: 15px;

    color: var(--article-blockquote-text);
    border-left: 4px solid var(--article-blockquote);
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;
  }
}

.article-content a:not(:has(img)) {
  color: var(--article-link-color);
  text-decoration: none;
  border-bottom: 2px solid var(--article-link-border-color);

  &:hover {
    color: var(--article-link-color-hover);
  }
}

.article-content :not(pre) > code {
  padding: 2px;
  border-radius: 2px;
  background-color: var(--code-example-bg);
}

.article-content__center {
  padding-top: 16px;
  display: block;
  text-align: center;
}

.article-img {
  overflow: hidden;
  display: inline-block;
  border-radius: var(--border-radius);
}

.article-figure {
  padding-top: 16px;
  text-align: center;
}

.article-figcaption {
  color: var(--green-color);
}

/* /Text elements */

.article-at {
  padding: 0 4px;
  line-height: 1.8;

  &.__shift {
    display: inline-block;
    padding: 12px 16px;
    margin-top: 20px;

    color: #5e554e;
    line-height: 1.4;
    border-radius: 8px;
  }

  &.__pink {
    background-color: #e7c8be;
  }

  &.__yellow {
    background-color: #fffadd;
  }

  &.__green {
    background-color: #f7f7e8;
  }
}

/* Article additional navigation */

.article-mark {
  padding: 2px 4px;

  border-radius: 2px;
  color: #fff;
  background-color: var(--green-color);
}

.article-bold {
  font-weight: 600;
}

pre.shiki {
  overflow-x: auto;
  max-width: 100%;

  margin-top: 24px;
  margin-bottom: 20px;
  padding: 16px;
  counter-reset: line;

  background-color: var(--code-example-bg);
  border-radius: var(--border-radius);

  line-height: 1.6;
}

pre.shiki .line {
  display: inline-block;
  width: 100%;
}

pre.shiki .line::before {
  counter-increment: line;
  content: counter(line);

  display: inline-block;
  margin-right: 12px;

  color: var(--code-example-line-number-color);
  text-align: right;
  font-variant-numeric: tabular-nums;
  user-select: none;
}
