@media (width < 1024px) {
  .article-title {
    padding-top: 8px;
    font-size: 22px;
    line-height: 1.2;
  }

  .article-date {
    margin-top: 12px;
  }

  .article-img,
  .article-figure,
  .article-content__center {
    & img {
      max-width: 320px;
    }
  }
}
