/* Platforms */

@import "mobile.css";
@import "desktop.css";

/* /platforms */

.header {
  position: sticky;
  top: 0;
  z-index: 2;
  align-self: center;

  width: 100%;
  height: 110px;

  border-top-style: solid;
  border-top-width: 4px;
  border-top-color: var(--site-decor-color);
  border-bottom-color: transparent;

  background-color: var(--background-color);

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    height: 3px;
    background-color: var(--site-decor-color);
  }

  & .wrapper {
    position: relative;
    height: inherit;
  }
}

.header-title_tx {
  position: absolute;
  bottom: 12px;

  font-family: var(--font-family-text-fira);
  color: #5e554e;

  cursor: default;
  background-color: var(--site-decor-color);
  border-radius: 8px;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 100%;

    width: 4px;
    height: 12px;

    background-color: var(--site-decor-color);
  }

  &:before {
    left: 8px;
  }

  &:after {
    right: 8px;
  }
}

.header-title_g,
.header-title_o {
  font-weight: 600;
}

.header-title_g {
  color: var(--header-green);
}
.header-title_o {
  color: var(--header-orenge);
}
