.about-list {
    margin: 0;
    padding: 0;
    }

.about-list_dt {
    float: left;
    width: 100px;
    margin-bottom: 8px;
    }

.about-list_dd {
    margin-left: 100px;
    margin-bottom: 8px;
    }