body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
}

body {
  font-family: system-ui, sans-serif;
  color: var(--site-text-color);
  font-size: var(--site-font-size);
  background-color: var(--background-color);
}

.position {
  position: relative;
}

.column.__wide {
  flex: 1;
}

.island {
  padding: 16px;
  background-color: #fff;
  border-radius: var(--border-radius);
}
