:root {
  --site-color: #333;
  --background-color: #fdfdfd;

  --gray: #f1ece8;
  --gray-dark: #c1bbbb;
  --gray-purple: #88706b;

  --green-color: #93b536;
  --orange: #ce6425;
  --brown: #c9c0bb;

  --header-gray: #f1ece8;

  --navigation-gray: #f1ece8;
  --navigation-gray-dark: #c1bbbb;

  --article-bg: #f1ece8;
  --article-date: #828282;
  --article-blockquote: #c1bbbb;
  --article-blockquote-text: #6d6552;

  --content-width: 800px;

  --on-palm: 600px;
  --on-laptop: 800px;
}
