@import "vars";
@import "mixins";

.article-card,
.article {
  @include island(16px, $gray, $shift*2);
}

// Card

.article-card:not(:first-child) {
  margin-top: $shift*4;
}

.article-card_date,
.article-card_read {
  font-size: 14px;
  color: $article-date;
}

.article-card_title {
	padding-bottom: 8px;
	font-size: 22px;
  font-weight: normal;
  font-family: var(--font-family-medium);
}

.article-card_link {
  color: $orange;
  text-decoration: none;
}

.article-card_cover {
  padding-top: $shift*3;
  text-align: center;

  img, svg { display: inline-block; }
}

.article-card_desc {
  padding-top: $shift*3;
}

// Article

.article {
  margin-top: $shift*4;
}

.article-title {
  padding-bottom: $shift*2;

  font-weight: normal;
  font-family: var(--font-family-medium);
  font-size: 30px;
}

.article-date {
  color: $article-date;
}

.article-content {
  padding-top: $shift*4;

  a {
    color: $orange;
  }

  p {
    line-height: 1.5;
  }

  p:not(:first-child) {
    padding-top: $shift*3;
  }

  h2 {
    padding-top: $shift*7;
    font-weight: normal;
    font-family: var(--font-family-medium);
  }

  img {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
  }

  ul {
    padding-top: $shift*3;
    padding-bottom: $shift*3;
    padding-left: $shift*5;
  }

  li:not(:first-child) {
    padding-top: $shift*2
  }
}

.article-img {
  display: block;
  text-align: center;

  &.__top {
    padding-top: $shift*3;
  }
}

// Text elements

blockquote {
  padding-left: 15px;

  color: $article-blockquote-text;
  border-left: 4px solid $article-blockquote;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}

// Article additional navigation

.article-navigation_cnt {
  float: right;
	margin-left: 12px;
}

.article-navigation {
	display: block;
	margin-bottom: 12px;
	padding: 16px;
	max-width: 270px;
	box-sizing: border-box;

	border-radius: 12px;

	@include media-query($on-palm) {
		max-width: 100%;
		width: 100%;
	}

	&.__right {
		float: right;
		margin-left: 12px;

		@include media-query($on-palm) {
			margin-left: 0;
		}
	}

	&.__yellow {
		background-color: #f2d76b;
	}

	&.__green {
    color: #fff;
		line-height: 16px;
		background-color: $green-color;
	}

  &.__small {
    font-size: 14px;
  }
}

.article-navigation_i {
	display: block;
	padding-bottom: $shift*3;
}

.article-navigation_lk {
	text-decoration: none;
	border-bottom: 1px dashed;
  color: $orange;

	&:hover {
		color: $orange;
		text-decoration: none;
	}

  .article-navigation.__green & {
    border-bottom-style: solid;
    color: #fff;
  }
}

.article-mark {
  padding: 2px 4px;

	border-radius: 2px;
	color: #fff;
	background-color: $green-color;
}

.article-center {
  padding-top: $shift*3;
  text-align: center;
}

.article-bold {
  font-weight: 600;
}