// Define defaults for each variable

$site-color: #333;
$background-color: #fdfdfd !default;

// Base colors

$gray: #f1ece8;
$gray-dark: #c1bbbb;
$gray-purple: #88706B;

$green-color: #93b536;
$orange: #ce6425;
$brown: #C9C0BB;


// site shift

$shift: 4px;


// Header

$header-gray: #f1ece8;


// Navigation

$navigation-gray: #f1ece8;
$navigation-gray-dark: #c1bbbb;


// Article

$article-date: #828282;
$article-blockquote: $gray-dark;
$article-blockquote-text: #6D6552;


// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;