<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ru" }}">
  {% include head.html %}
  <body>
    <div class="wrapper-main">
      {% include header.html %}
      <main class="page-content" aria-label="Content">
        <div class="wrapper">
          {{ content }}
        </div>

        
        <div class="back-to-top-link_cnt">
          <a href="#top" class="back-to-top-link" id="bottonTop" aria-label="Scroll to Top">Top</a>
        </div>
      </main>

      {% include footer.html %}
    </div>
  </body>
</html>
