---
layout: default
---

<div class="home">
  {{ content }}
  <div class="post-list">
    {% assign article = site.netherlands | sort: 'date' | reverse %}
    {% for post in article %}
      <div class="post-list_i">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </div>
    {% endfor %}
  </div>

  {% if page.comments %}
    {% include disqus_comments.html %}
  {% endif %}
</div>
