---
layout: default
---
<article class="post island" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <span class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}

      {% if page.tegs %}
        <div class="post-tegs">
          Теги: {{ page.tegs | escape }}
        </div>
      {% endif %}
    </span>
  </header>

  {% if page.image %}
    <div class="page-img">
      <img src="{{ page.image }}"/>
    </div>
  {% endif %}

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
</article>

{% if page.comments %}
  <section class="island">
    {% include disqus_comments.html %}
  </section>
{% endif %}
