<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ title }}</title>
    <meta name="description" content="{{ global.description }}" />
    <meta name="theme-color" content="#ffffff" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ desc | markdownRemove }}" />
    <meta property="og:url" content="{{ global.domain + page.url }}" />

    <link href="/assets/styles/cv.css" rel="stylesheet" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/img/favicon/favicon-32x32.png"
    />
    <link
      rel="apple-touch-icon"
      href="/assets/img/favicon/apple-touch-icon.png"
    />
  </head>

  <body>
    {{ content | safe }}
  </body>
</html>
