{% set title = global.title if page.url == '/' else title + (', page ' +
(pagination.pageNumber + 1) if pagination.next or pagination.previous else '')%}
{% set desc = desc if desc else global.description %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ title }}</title>
    <meta name="description" content="{{ global.description }}" />
    <meta name="theme-color" content="#ffffff" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ title }}" />

    {% if dsc.length > 0 %}
    <meta property="og:description" content="{{ dsc | markdownRemove }}" />
    {% endif %}

    <meta property="og:url" content="{{ global.domain + page.url }}" />

    {% if keywords.length > 0 %}
    <meta name="keywords" content="{{ keywords }}" />
    {% endif %}

    <link href="/assets/styles/extensions/prism.css" rel="stylesheet" />
    <link href="/assets/styles/style.css" rel="stylesheet" />
    <link
      rel="preload"
      href="/assets/fonts/FiraCode-Regular.woff2"
      crossorigin
      as="font"
      type="font/woff2"
    />
    <link
      rel="preload"
      href="/assets/fonts/FiraCode-SemiBold.woff2"
      crossorigin
      as="font"
      type="font/woff2"
    />
    <link
      rel="preload"
      href="/assets/fonts/roboto-medium-webfont.woff2"
      crossorigin
      as="font"
      type="font/woff2"
    />
    <link
      rel="preload"
      href="/assets/fonts/roboto-regular-webfont.woff2"
      crossorigin
      as="font"
      type="font/woff2"
    />

    <link rel="icon" href="/assets/img/favicon/favicon.ico" sizes="any" />
    <link rel="icon" href="/assets/img/favicon/any.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/assets/img/favicon/180.png" />
    <link rel="manifest" href="/manifest.json" />

    {% include 'analytics.njk' %}
  </head>

  <body>
    {% include 'header.njk' %}

    <main class="main flex">
      <div class="wrapper">
        {{ content | safe }}
      </div>
    </main>

    {% include 'footer.njk' %}

    <script src="/assets/scripts/view.js"></script>
  </body>
</html>
