---
layout: page.njk
title: Blog
---

<article class="article">
  <header class="article-header">
    <h2 class="article-title">
      {{ title }}
    </h2>

    <time class="article-date" datetime="{{ date }}">{{
      date | dateShort
    }}</time>

    {% include 'tags.njk' %} {#
    <div class="view-count" id="view-count">
      <img src="/assets/img/view.svg" width="24" height="24" />
    </div>
    #}
  </header>

  <section class="article-content">
    {{ content | safe }}
  </section>
</article>
