---
layout: page.njk
title: Blog
---

<article class="article">
  <header class="article-header">
    <h2 class="article-title">
      {{ title }}
    </h2>

    <time class="article-date" datetime="{{ date }}">{{
      date | dateShort
    }}</time>

    {% include 'tags.njk' %}
  </header>

  <section class="article-content">
    {{ content | safe }}
  </section>
</article>
