.tags-page {
  flex-flow: wrap;
  padding-top: 20px;
}

.tags,
.tags-page {
  display: flex;
  flex-wrap: wrap;
}

.tags {
  gap: 4px;
}

.tags-page {
  column-gap: 12px;
}

.tags-page_i {
  display: inline-block;
  margin-bottom: 8px;
}

.tags {
  &.__top {
    padding-top: 8px;
  }
}

.tag_lk {
  display: inline-block;
  padding: 4px 8px;

  background-color: var(--tags-bg);
  border-radius: 12px;

  font-size: 14px;
  text-decoration: none;
  color: var(--tags-color);

  &:hover {
    background-color: var(--tags-hover-bg);
    color: #fff;
  }

  &.__list {
    padding: 8px 12px;
    border-radius: 12px;

    font-size: 16px;
  }
}
