@media (width < 1024px) {
  .article-item {
    flex-direction: column;
  }

  .article-item_content {
    --shift: 16px;
    padding: var(--shift);
  }

  .article-item_title {
    padding-top: 12px;
    font-size: var(--article-item-title-font-size);
    line-height: 1.2;
  }

  .article-item__desc {
    padding-top: 12px;
    padding-bottom: 12px;

    line-height: 1.4;
  }

  .article-item_img {
    display: block;
    width: 100%;
  }

  .article-item__footer {
    padding-top: 8px;
  }
}
