@media (width >= 1024px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 2;
    height: var(--header-height);

    display: flex;
    padding: 20px 0;
    box-sizing: border-box;
  }

  .header__left {
    flex: 1;
  }

  .header-title_tx {
    left: 128px;
    z-index: 2;
    padding: 8px 12px;
  }

  .header-title_g,
  .header-title_o {
    font-size: 18px;
  }
}
