@media (width >= 1024px) {
  :root {
    /* Global variables for Sizes */

    --site-gap: 20px;
    --site-font-size: 16px;

    --header-height: 158px;
    --footer-height: 120px;

    /* Footer variables */

    --footer-h2-size: 22px;

    /* /Global variables for Sizes */
  }
}
