html {
  height: auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #534a41;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: #534a41;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/* Const
-------------------------------------------------- */

:root {
  --border: 2px solid #eee8e1;
  --border-dashed: 1px dashed #eee8e1;
}

/* /Const*/

/* Common
-------------------------------------------------- */

.bold {
  font-weight: bold;
}

.mt-2x {
  margin-top: 8px;
}

.mt-4x {
  margin-top: 16px;
}

.mt-6x {
  margin-top: 24px;
}

.mt-8x {
  margin-top: 32px;
}

.cv {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #fff;
}

.cv p {
  margin: 0;
}

.cv p:not(:first-child) {
  margin-top: 8px;
}

/* /Common */

/* Header
-------------------------------------------------- */

.cv-header {
  box-sizing: border-box;
  border-bottom: var(--border);
}

.cv-header_name {
  font-weight: bold;
}

.cv-header_position {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans";

  color: #71675c;
}

.cv-header_contact {
  position: relative;
  padding-top: 4px;
  font-family: Helvetica, sans-serif;
}

/* /Header
-------------------------------------------------- */

/* Icon
-------------------------------------------------- */
.cv-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 34px;
  height: 34px;

  background-color: #9b8e80;
  border-radius: 50%;
}

.cv-icon__svg {
  display: block;
  fill: #fff;
  color: #fff;
}

/* /icon
-------------------------------------------------- */

/* /Header */

/* Title
-------------------------------------------------- */

.title {
  padding-bottom: 12px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans";
}

.education-title {
  font-weight: bold;
}

/* /Title */

/* Item
-------------------------------------------------- */

.item.__sp {
  position: relative;
  padding-top: 16px;
  margin-top: 16px;
}

.item.__sp:before {
  content: "";
  position: absolute;
  top: 0;
  left: 24px;
  right: 24px;
  border-bottom: 1px solid #eee8e1;
}

.item-title_bold {
  font-size: 18px;
  font-weight: bold;
}

.item-time {
  position: relative;
  padding-bottom: 8px;
  font-size: 14px;
  color: #a2917d;
}

.item-text {
  padding-top: 8px;
}

.item-text p {
  margin-bottom: 12px;
  line-height: 1.4;
}

.contact-item {
  display: flex;
  gap: 8px;
  align-items: center;
}

/* /Item*/

/* Education
-------------------------------------------------- */

.education {
  line-height: 1.5;
}

/* Summary
-------------------------------------------------- */

.summary {
  border-bottom: var(--border);
}

/* /Summary */

/* Content
-------------------------------------------------- */

.content_left,
.content_right {
  padding: 16px 20px;
  box-sizing: border-box;
}

.content_left {
  background-color: #eee8e1;
  color: #71675c;
}

.bullet-list {
  margin-top: 4px;
  padding-left: 12px;
}

.bullet-list_i {
  position: relative;
  line-height: 1.4;
}

.bullet-list_i:before {
  content: "•";
  position: absolute;
  top: 0;
  left: -12px;
}

.bullet-list_i:not(:first-child) {
  margin-top: 8px;
}

/* /Content */
