@media print {
  .cv {
    font-size: 12px;
    line-height: 1.5;
  }

  .cv-header {
    padding: 0 12px 4px;
  }

  .cv-header_name {
    font-size: 22px;
    line-height: 22px;
  }

  /* Summary
-------------------------------------------------- */

  .summary {
    padding: 8px 12px 16px;
  }

  .summary_tx p {
    line-height: 1.3;
  }

  /* /Summary */

  .title {
    padding-bottom: 8px;
    font-size: 16px;
  }

  /* Content
-------------------------------------------------- */

  .content {
    display: flex;
  }

  .content_left,
  .content_right {
    padding: 12px;
  }

  .content_left {
    width: 230px;
  }

  .content_right {
    flex: 1;
  }

  .bullet-list_i {
    line-height: 1.3;
  }

  .bullet-list_i:not(:first-child) {
    margin-top: 6px;
  }
  /* /Content */

  .item-title {
    line-height: 1;
  }

  .item-title_bold {
    font-size: 16px;
  }

  .item-text p {
    font-size: 12px;
    line-height: 1.2;
  }

  .item-time {
    padding-bottom: 4px;
    font-size: 12px;
    line-height: 1;
  }

  .item-res {
    padding-bottom: 0;
  }
}
