@media print {
  .cv {
    font-size: 12px;
    line-height: 1.5;
  }

  .cv-header {
    padding: 0 12px 4px;
  }

  .cv-header_name {
    font-size: 26px;
    line-height: 26px;
  }

  /* Summary
-------------------------------------------------- */

  .summary {
    padding: 8px 12px 16px;
  }

  .summary_tx p {
    line-height: 1.4;
  }

  /* /Summary */

  .title {
    padding-bottom: 8px;
    font-size: 16px;
  }

  /* Content
-------------------------------------------------- */

  .content {
    display: flex;
  }

  .content_left,
  .content_right {
    padding: 12px;
  }

  .content_left {
    width: 280px;
  }

  .content_right {
    flex: 1;
  }
  /* /Content */

  .item-title {
    line-height: 1;
  }

  .item-text p {
    font-size: 14px;
  }

  .item-time {
    padding-bottom: 4px;
    font-size: 12px;
    line-height: 1;
  }
}
